/* variables */
:root {
    --text-shadow: 2px 2px 5px rgb(97, 113, 189), 3px 5px 7px rgb(143, 154, 213);
    --buttonshadow: rgb(133, 140, 178);
    --darkBlue: rgb(22, 22, 151);
}

/* body and html general style */
html {
    background: linear-gradient(rgba(15, 154, 182, 0.9), white);
    height: 100%;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* hide elements when not needed */
.hide {
    display: none;
}

/* headings styling */
h1 {
    color: var(--darkBlue);
    font-size: 2.5rem;
    text-shadow: 4px 2px 5px whitesmoke;

}

#heading {
    color: navy;
    margin-bottom: -8px;;
} 

#heading:hover {
    text-shadow: var(--text-shadow);
    transition: 0.3s ease-in-out;
}

/* card styling and its fonts */
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1.3em;
    background-color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: left;
    box-shadow: rgb(101, 116, 134) 0 2px 3px 0, rgba(55, 72, 85, 0.15) 0 4px 7px 9px;
    border-radius: 15px;
}

.feedback {
    color:rgb(81, 80, 80);
    font-size: 1.1rem;
    font-style: italic;
}

/* all button stylings and their hovering effects */

#nextBTN, #startBTN, .submitBTN, .restartBTN{
    background: linear-gradient(rgb(52, 52, 136), rgb(30, 116, 174) 60%, rgb(174, 213, 250) 90%);
    border-radius: 8px;
    height: 32px;
    width: 100px;
    margin-left: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: whitesmoke;
    align-self: flex-end;
}

#nextBTN:hover, #startBTN:hover, .submitBTN:hover, .restartBTN:hover{
    background: linear-gradient(rgb(157, 87, 195), rgb(169, 112, 219) 60%, rgb(242, 174, 250) 90%);
    box-shadow: 3px 3px 5px rgb(97, 113, 189);
    transition: 0.2s ease-in-out;
    color: rgb(45, 44, 47);
    cursor: pointer;
}
.choiceBTN {
    line-height: 2.5rem;
    font-size: 1rem;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    margin-left: -10px;
    margin-bottom: 3px;
    padding: 0px 2px 0px 19px;
    overflow-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    border: solid 0.5px rgb(110, 110, 119);
    transition: 0.2s ease-in-out;
    border-radius: 8px;
}

.choiceBTN:hover {
    padding: 3px 3px 3px 10px;
    background: linear-gradient(90deg, rgb(163, 236, 236), rgb(130, 156, 236));
    box-shadow: inset 3px 3px 6px var(--buttonshadow);
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
}

.choiceBTN.correctGreen {
    padding: 3px 3px 3px 10px;
    background: linear-gradient(90deg, rgb(164, 243, 148), rgb(11, 155, 25));
    box-shadow: inset 3px 3px 6px var(--buttonshadow);
    transition: 0.2s ease-in-out;
    border-radius: 8px;
}

.choiceBTN.incorrectRed {
    padding: 3px 3px 3px 10px;
    background: linear-gradient(270deg, rgb(248, 167, 164), rgb(195, 32, 11));
    box-shadow: inset 3px 3px 6px var(--buttonshadow);
    transition: 0.2s ease-in-out;
    border-radius: 8px;
}

/* timer and highscores */
#timer {
    display: block;
    position: fixed;
    top: 10px;
    right: 30px;
    padding: 3px;
    line-height: 1.3rem;;
    font-size: 1.2rem;
    font-weight:bold;
    color: var(--darkBlue);
}

#highScores {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--darkBlue);
    font-family: Arial, Helvetica, sans-serif;
}

#highScores:hover {
    text-shadow: var(--text-shadow);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

/* footer */
footer p {
    margin-left: -14rem;
}

footer {
    color:cornsilk;
    font-size: larger;
    background-image: url(../images/pattern.jpeg);
    text-shadow: 1px 2px 2px navy;
    position: fixed;
    left: -30px;
    bottom: 0px;
    height: 8%;
    width: 120%;
}

/* media queries for smaller screen sizes*/
@media screen and (max-width: 768px) {
    .card {
        font-size: 1.2rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    h1 {
        font-size: 1.7rem;

    }

    .choiceBTN {
        line-height: 1.8rem;
        font-size: 0.85rem;
    }

    .feedback {
        font-size: 1rem;
    }

    #nextBTN, #startBTN, .submitBTN, .restartBTN {
        height: 25px;
        width: 75px;
        margin-left: 10px;
        font-size: 0.9rem;
    }

    #highScores {
        font-size: 0.7rem;
    }

    #timer {
        font-size: 1rem;    
    }

    footer{
    font-size: 1.1rem;
    }

    footer p {
    margin-left: -8rem;
    }
}

@media screen and (max-width: 480px) {
    .card {
        font-size: 1rem;
        margin-left: 4%;
        margin-right: 4%;
    }

    h1 {
        text-align: left;
        font-size: 1.4rem;

    }

    .choiceBTN {
        line-height: 1.5rem;
        font-size: 0.7rem;
    }

    .feedback {
        font-size: 0.9rem;
    }

    #highScores {
        font-size: 0.7rem;
    }

    #timer {
        font-size: 0.8rem;    
    }

    footer{
        font-size: 0.9rem;
    }

    footer p {
        margin-left: -5rem;
    }
}